{% extends 'layout.html' %}

{% block content %}
<h2>Dish List</h2>
<table>
    <thead>
        <tr>
            <th>Food_name</th>
            <th>price</th>
            <th>in_stock</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td>{{ menu['Food_name'] }}</td>
            <td>{{ menu['price'] }}</td>
            <td>{{ menu['in_stock'] }}</td>
            <td>
                <a href="{{ url_for('edit', id=menu['id']) }}">Edit</a>
                <form action="{{ url_for('delete', id=menu['id']) }}" method="POST" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}